@model Mvc_Kutuphane.Models.tbl_rol
@{
    ViewBag.Title = "Rol";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "gelenSonuc", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.TextBoxFor(m => m.ad, new { @class = "form-control input-lg", @placeholder = "Rol Adı" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.resimUrl, new { @class = "form-control input-lg", @placeholder = "Resim" })
    </div>
    
    <div class="form-group">
        <button class="btn btn-block btn-custom">Kaydet</button>
    </div>
}
    <table class="table">
        <tr>
            <th>
                <center>    @Html.DisplayNameFor(model => model.ad)</center>
</th>
            <th>
                <center>   Resim</center>
</th>
            <th>
                <center> @Html.DisplayNameFor(model => model.kayitTarihi)</center>
</th>
            
        </tr>

        @foreach (Mvc_Kutuphane.Models.tbl_rol item in ViewBag.Basar)
        {
            <tr>
                <td>
                    <center>    @Html.DisplayFor(modelItem => item.ad)</center>
                </td>
                <td>
                    <center>   <img src=" @Html.DisplayFor(modelItem => item.resimUrl)" width="64" height="79"></center>
</td>
                <td>
                    <center>   @Html.DisplayFor(modelItem => item.kayitTarihi)</center>
</td>
                
                
            </tr>
        }

    </table>

