@model IEnumerable<Mvc_Kutuphane.Models.tbl_duyuru>

@{
    Layout = null;
}
@{
    ViewBag.Title = "Duyuru";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "gelenSonuc", InsertionMode = InsertionMode.Replace }))
{ }

    <table class="table">
    <tr>
        <th>
            <center> Duyuru Adı</center>
        </th>
        <th>
            <center> Duyuru Açıklaması</center>
        </th>
        <th>
            <center>  Duyuru Detayı</center>
        </th>
        <th>
            <center>  Resim</center>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <center> @Html.DisplayFor(modelItem => item.ad)</center>
            </td>
            <td>
                <center> @Html.DisplayFor(modelItem => item.aciklama)</center>
            </td>
            <td>
                <center> @Html.DisplayFor(modelItem => item.detay)</center>
            </td>
            <td>
                <center><img src="@Html.DisplayFor(modelItem => item.resimUrl)" width="64" height="79">  </center>
            </td>

            <td>
                @Html.ActionLink("Düzenle", "EdDuyuru", new { id = item.ID }) 

            </td>
        </tr>
    }

</table>



